In [28]:
import pandas as pd
import datetime

In [29]:
data = pd.read_csv("barro_data.csv")
country_list = pd.read_csv("../data_source/country_code_list.csv")
data.head()

,code,year,gini_DS,quality,GDP_PWT,GDP_PC_PWT,gov_consumption_WB,years_schooling,democracy_index,GDP_MP_WB,GDP_growth_WB,inflation_WB,fertility_WB
0,AAB,1981,NaN,NaN,NaN,NaN,NaN,NaN,12.48,NaN,NaN,NaN,NaN
1,AAB,1982,NaN,NaN,NaN,NaN,NaN,NaN,12.48,NaN,NaN,NaN,NaN
2,AAB,1983,NaN,NaN,NaN,NaN,NaN,NaN,12.48,NaN,NaN,NaN,NaN
3,AAB,1984,NaN,NaN,NaN,NaN,NaN,NaN,7.91,NaN,NaN,NaN,NaN
4,AAB,1985,NaN,NaN,NaN,NaN,NaN,NaN,7.91,NaN,NaN,NaN,NaN

We only data keep posterior to 1960. We also remove the countries that do not appear in the list of countries.

In [30]:
data = data[data['year']>=1960.]
data = data[data['code'].map(lambda x: x in country_list['code'].values)]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12527 entries, 22 to 26966
Data columns (total 13 columns):
code                  12527 non-null object
year                  12527 non-null float64
gini_DS               2189 non-null float64
quality               2190 non-null object
GDP_PWT               8973 non-null float64
GDP_PC_PWT            8973 non-null float64
gov_consumption_WB    8952 non-null float64
years_schooling       1958 non-null float64
democracy_index       3612 non-null float64
GDP_MP_WB             9689 non-null float64
GDP_growth_WB         9661 non-null float64
inflation_WB          7775 non-null float64
fertility_WB          11787 non-null float64
dtypes: float64(11), object(2)
memory usage: 1.3 MB

# Resampling the data

In [54]:
period = "5AS"
data.index = data['year'].map(lambda x: datetime.datetime(int(x), 1, 1, 0, 0, 0))
re_data = pd.DataFrame()
for country in set(data['code']):
    sel = data[data['code']==country].resample(period)
    sel['code'] = [country] * len(sel)
    re_data = pd.concat([re_data, sel], axis=0)

In [60]:
re_data = pd.DataFrame()
pd.concat([re_data, sel], axis=0)

,year,gini_DS,GDP_PWT,GDP_PC_PWT,gov_consumption_WB,years_schooling,democracy_index,GDP_MP_WB,GDP_growth_WB,inflation_WB,fertility_WB,code
year,,,,,,,,,,,,
1960-01-01,1962.000000,NaN,7161.689844,1776.418647,11.756918,2.24,NaN,1.998195e+09,3.222200,NaN,7.259600,ZWE
1965-01-01,1967.000000,64.285,7884.633203,1668.330917,11.687246,2.51,NaN,2.409530e+09,5.839816,NaN,7.398600,ZWE
1970-01-01,1972.000000,NaN,13328.683984,2380.542630,10.858364,3.01,NaN,3.909132e+09,9.808476,NaN,7.416600,ZWE
1975-01-01,1977.000000,NaN,14998.497070,2279.261601,15.625338,3.45,NaN,4.108737e+09,-1.547395,NaN,7.312600,ZWE
1980-01-01,1982.000000,NaN,21648.069922,2732.429100,18.126492,3.89,NaN,5.171307e+09,5.851670,NaN,6.788200,ZWE
1985-01-01,1987.000000,NaN,30332.826562,3175.940563,22.078910,4.67,NaN,6.056537e+09,4.589259,NaN,5.789000,ZWE
1990-01-01,1992.000000,56.830,43632.775781,3969.235506,18.272960,5.73,NaN,7.163667e+09,2.758284,NaN,4.852000,ZWE
1995-01-01,1997.000000,NaN,53096.342969,4395.627694,16.968563,6.70,NaN,8.378371e+09,3.053342,NaN,4.253400,ZWE
2000-01-01,2002.000000,NaN,51185.259375,4069.384816,19.759689,7.00,NaN,7.481488e+09,-6.663242,NaN,4.026400,ZWE
2005-01-01,2007.333333,NaN,43306.572266,3465.711174,8.115485,7.47,NaN,5.068886e+09,-3.087679,NaN,4.027000,ZWE
2010-01-01,2011.571429,NaN,53300.529297,4208.215524,19.538363,7.61,NaN,6.027741e+09,9.351464,NaN,4.027833,ZWE

In [55]:
data[data['code']==country].resample('5AS', how='mean')

,year,gini_DS,GDP_PWT,GDP_PC_PWT,gov_consumption_WB,years_schooling,democracy_index,GDP_MP_WB,GDP_growth_WB,inflation_WB,fertility_WB
year,,,,,,,,,,,
1960-01-01,1962.000000,NaN,7161.689844,1776.418647,11.756918,2.24,NaN,1.998195e+09,3.222200,NaN,7.259600
1965-01-01,1967.000000,64.285,7884.633203,1668.330917,11.687246,2.51,NaN,2.409530e+09,5.839816,NaN,7.398600
1970-01-01,1972.000000,NaN,13328.683984,2380.542630,10.858364,3.01,NaN,3.909132e+09,9.808476,NaN,7.416600
1975-01-01,1977.000000,NaN,14998.497070,2279.261601,15.625338,3.45,NaN,4.108737e+09,-1.547395,NaN,7.312600
1980-01-01,1982.000000,NaN,21648.069922,2732.429100,18.126492,3.89,NaN,5.171307e+09,5.851670,NaN,6.788200
1985-01-01,1987.000000,NaN,30332.826562,3175.940563,22.078910,4.67,NaN,6.056537e+09,4.589259,NaN,5.789000
1990-01-01,1992.000000,56.830,43632.775781,3969.235506,18.272960,5.73,NaN,7.163667e+09,2.758284,NaN,4.852000
1995-01-01,1997.000000,NaN,53096.342969,4395.627694,16.968563,6.70,NaN,8.378371e+09,3.053342,NaN,4.253400
2000-01-01,2002.000000,NaN,51185.259375,4069.384816,19.759689,7.00,NaN,7.481488e+09,-6.663242,NaN,4.026400
2005-01-01,2007.333333,NaN,43306.572266,3465.711174,8.115485,7.47,NaN,5.068886e+09,-3.087679,NaN,4.027000
2010-01-01,2011.571429,NaN,53300.529297,4208.215524,19.538363,7.61,NaN,6.027741e+09,9.351464,NaN,4.027833

In [56]:
country

'ZWE'